/*
    Custom CSS Style `style.css`
    >> Using custom color palette `http://www.color-hex.com/color-palette/65486`
    >> by Teerapat Kraisrisirikul `60070183`
*/

:root {
    --palette-indigo: #6760aa;
    --palette-blue: #7f9fd0;
    --palette-aqua: #acd0ea;
}

::selection {
    background: var(--palette-aqua);
    color: white;
}

body {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}
    h1, h2 {
        font-weight: 400;
    }
    h3, h4, h5, h6 {
        font-weight: 300;
    }
    p {
        font-size: 14pt;
        font-weight: 200;
    }

header, section {
    padding: 100px;
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}

footer {
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
    footer .footer-left {
        width: 34%;
        margin-left: 32px;
        text-align: left;
        color: #808080;
    }
    footer .footer-middle {
        width: 32%;
        text-align: center;
    }
    footer .footer-right {
        width: 34%;
        margin-right: 32px;
        text-align: right;
        color: #808080;
    }
    footer .icon {
        position: relative;
        width: 42px;
        transition: 0.2s;
        opacity: 0.3;
        top: 20%;
    }
        footer .icon:hover {
            opacity: 0.7;
        }

.main-title, .main-sub-title, .main-detail {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}
    .main-title {
        font-size: 52pt;
        font-weight: 400;
    }
    .main-sub-title {
        font-size: 38pt;
        font-weight: 400;
    }
    .main-detail {
        font-size: 16pt;
        font-weight: 300;
    }

.profile-pic {
    width: 50vw;
    max-width: 448px;
    border-radius: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.main-button {
    padding-top: 64px;
}
    .main-button a {
        background-color: var(--palette-blue);
        text-align: center;
        border-radius: 5%;
        color: white;
        padding: 16px;
        text-decoration: none;
        font-size: 16pt;
        transition: 0.2s;
    }
        .main-button a:hover {
            background-color: var(--palette-aqua);
        }

.section-heading {
    font-size: 38pt;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-heading-sub {
    font-size: 14pt;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 32px;
    color: #808080;
}

.basic-info {
    font-size: 14pt;
    margin-top: 16px;
    align-self: center;
    text-align: left;
}
    .basic-info .cell-topic {
        font-weight: 300;
        vertical-align: top;
    }
    .basic-info .cell-topic-r {
        font-weight: 300;
        padding-left: 2.5em;
        vertical-align: top;
    }
    .basic-info .cell-data {
        color: #303030;
        font-weight: 200;
        padding-left: 1em;
        vertical-align: top;
    }
        .basic-info .cell-data a {
            text-decoration: none;
            color: var(--palette-blue);
            transition: 0.2s;
        }
            .basic-info .cell-data a:hover {
                color: var(--palette-aqua);
            }

.section-picture {
    width: 65vw;
    max-width: 1024px;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: 0.2s;
}
    .section-picture:hover {
        box-shadow: 0 0 3px 3px #aaaaaa;
    }

.paragraph {
    max-width: 70em;
    color: #303030;
    align-self: center;
    margin-top: 8px;
}
    .paragraph p {
        text-align: justify;
        margin-top: 16px;
        margin-bottom: 16px;
    }

.exp {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}
    .exp .exp-item {
        margin-left: 8px;
        margin-right: 8px;
        text-align: center;
    }
        .exp .exp-item img {
            width: 30vw;
            max-width: 320px;
            border-radius: 100%;
            margin-top: 0px;
            margin-bottom: 16px;
        }
        .exp .exp-item h3 {
            max-width: 320px;
            font-size: 16pt;
            font-weight: 300;
            margin-top: 16px;
            margin-bottom: 16px;
        }
        .exp .exp-item p {
            max-width: 320px;
            font-size: 14pt;
            font-weight: 200;
            margin-top: 16px;
            margin-bottom: 0px;
            color: #303030;
        }

/* Custom extra classes */

.indent {
    text-indent: 2.5em !important;
}

.border-indigo {
    border: 8px solid var(--palette-indigo) !important;
}

.border-blue {
    border: 8px solid var(--palette-blue)!important;
}

.border-aqua {
    border: 8px solid var(--palette-aqua) !important;
}

.border-white {
    border: 8px solid white !important;
}

.border-light {
    /* Unused */
    border: 8px solid #fafafa !important;
}

.bg-indigo {
    background-color: var(--palette-indigo) !important;
}

.bg-blue {
    /* Unused */
    background-color: var(--palette-blue) !important;
}

.bg-aqua {
    /* Unused */
    background-color: var(--palette-aqua)!important;
}

.bg-white {
    background-color: white !important;
}

.bg-light {
    background-color: #fafafa !important;
}
